body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }

/* Heart Icon
--------------------------------------------- */

.site-footer .icon {
	font-size: 20px;
}

.site-footer .love .icon {
	font-size: 12px;
	margin-left: 2px;
	margin-right: 2px;
}
/* Brand
--------------------------------------------- */
.toplogo {
    margin-top: 5px;
}

.toplogo img {
    height : 30%;
    width : 30%;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

